[flake8]
exclude =
    build,
    .git,
    .run,
    .tox,
    */.env
    */.venv,
    .aws-sam,
    wrangler_layer,
    ./tools/,
    hooks,
    tmp,
    ./alembic/versions/,
    python_api_layer

extend-ignore = E203, F405
max-line-length = 120
